---
http_interactions:
- request:
    method: get
    uri: http://developer.nrel.gov/api/pvwatts/v5.json?address&api_key=&array_type=1&azimuth=180.0&file_id&lat=40.0&lon=-105.0&losses=10.0&module_type=1&system_capacity=4.0&tilt=40.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7266f8d675104470b4d42b69ca2c7c85"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
    body:
      encoding: UTF-8
      string: '{"inputs":{"address":null,"array_type":"1","azimuth":"180.0","file_id":null,"lat":"40.0","lon":"-105.0","losses":"10.0","module_type":"1","system_capacity":"4.0","tilt":"40.0"},"errors":[],"warnings":[],"version":"1.3.0","ssc_info":{"version":45,"build":"Linux
        64 bit GNU/C++ Jul  7 2015 14:24:09"},"station_info":{"lat":40.016666412353516,"lon":-105.25,"elev":1634.0,"tz":-7.0,"location":"94018","city":"BOULDER","state":"CO","solar_resource_file":"94018.tm2","distance":21235},"outputs":{"ac_monthly":[474.1012878417969,465.7032165527344,628.2171020507812,600.9644775390625,606.251220703125,584.5562133789062,591.1962280273438,608.0556640625,597.8596801757812,574.5330810546875,471.5405578613281,458.7503662109375],"poa_monthly":[136.04103088378906,136.04443359375,185.7895965576172,181.16891479492188,185.77963256835938,182.52105712890625,187.89971923828125,193.35572814941406,187.40081787109375,175.5979461669922,137.59872436523438,131.25526428222656],"solrad_monthly":[4.388420581817627,4.858729839324951,5.993212699890137,6.038963794708252,5.992891311645508,6.084035396575928,6.061281204223633,6.237281322479248,6.246694087982178,5.664449691772461,4.5866241455078125,4.2340407371521],"dc_monthly":[494.8523254394531,487.355224609375,657.4246215820312,628.2112426757812,633.9097290039062,611.8118286132812,618.5413208007812,635.3168334960938,624.2625732421875,599.63037109375,492.3172607421875,478.8636779785156],"ac_annual":6661.72900390625,"solrad_annual":5.5322184562683105,"capacity_factor":19.01178550720215}}'
  recorded_at: Fri, 01 Jul 2016 22:53:47 GMT
recorded_with: VCR 3.0.3
